@media screen and (max-width: 980px) {
  #pagewrap {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  #pagewrap {
    width: auto;
    float: none;
    margin: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}