
/* NAVBAR */
.logo {
  height: 50px;
}

#navbar {
  background-color: white;
}

/* CHART */

#top {
  float: left;
  width: 100%;
  margin-bottom: 100px;
}

#topics {
  float: left;
  width: 49%;
}

#companies {
  float: right;
  width: 49%;
}


#news {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


#retail {
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#employment {
  max-height: 48%;
}

#sales {
  max-height: 49%;
}

.articleFooter {
  font-style: italic;
  color: rgb(184, 184, 184);
}


/* TABLE */
#table {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}


/* LANDING PAGE */

#jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
}

#jumbotron > .jumbotron {
  width: 980px;
  background-color: white;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("lightbulb.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}


/* MEDIA QUERIES */

@media screen and (max-width:959px) {
  #pagewrap{
    width: 100%;
  }
  img{
    width: 100%;
  }
}

@media screen and (max-width:640px) {
  #topics {
    float: left;
    margin-top: 100px;
    width: 100%;
  }

  #companies {
    float: left;
    margin-top: 100px;
    width: 100%;
  }

  #retail {
    float: left;
    margin-top: 100px;
    width: 100%;
  }

  #employment {
    float: left;
    margin-top: 100px;
    max-height: 100%;
  }
}

@media screen and (max-width:320px) {
  #pagewrap{
    width: 320px;
  }
}

